extends ../index.pug 

block variables 
  - var template = 'about'

block content
  .about
    .about__wrapper#wrapper
      .about__title=PrismicDOM.RichText.asHtml(about.data.title)
      .about__description.about__description--biography=PrismicDOM.RichText.asHtml(about.data.description)
      .about__columns
        .about__columns__column
          h2.about__subtitle(data-animation="text")=about.data.contact_title
          p.about__description
            each contact in about.data.contact_list
              span.about__description__line
                a.about__link(href=contact.link.url, data-animation="text")=contact.text
          h2.about__subtitle(data-animation="text")=about.data.awards_title
          p.about__description
            each award in about.data.awards_list
              span.about__description__line
                a.about__link(data-animation="text")=award.text
        .about__columns__column
          h2.about__subtitle(data-animation="text")=about.data.social_title
          p.about__description
            each social in about.data.social_list
              span.about__description__line
                a.about__link(href=social.link.url, data-animation="text")=social.text
      .about__description.about__description--credits=PrismicDOM.RichText.asHtml(about.data.credits)
